<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        #l{
        color: blue
        }
    </style>
</head>
<body>
    <p id = "l">В концепте описать:  Целевую аудиторию: кто будет использовать ваше приложение, какие у них нужды и проблемы.
        <br> Функционал: какие задачи должно решать приложение, какие функции должно предоставлять пользователям.  Распределение контента и функционала по веб-страницам: на какой странице какой контент и функции будут располагаться.
        <br> Дизайн: как приложение будет выглядеть с точки зрения дизайна. Минимум 3 ссылки на сторонние сайты, которые по дизайну будут схожи с вашим проектом.

    </p>
    <p>
        Название приложения пока что я еще не придумал. Целевая аудитория данного приложения будут люди заинтересованные в изучении математики. В данном приложении будут предоставлены, как и источники, из которых люди смогут черпать теоретические знания, так и решать практические задания. Для удобства на одной из страниц сайта будут находиться блокнот и калькулятор, которые пользователи смогут использовать в своих нуждах. Также хотелось бы подключить ИИ помощника (если это будет возможно), который будет помогать пользователям в поиске информации. В добавление нужно будет создать систему, которая будет позволять пользователям оставлять комментарии под задачами.

Касательно расположения функционала, для начала пользователю будет предложена регистрация для того, чтоб он мог сохранять разного рода данные, которые будут собираться. К ним будут относиться: решенные задачи, пройденные темы, скорость выполнения каких-либо тестов и тому подобное. После регистрации, которая будет не обязательная, пользователь попадает на главную страницу, где и будет выбирать интересующий его раздел математики. После выбора раздела будет открываться новая страничка, на которой пользователь сможет выбрать с помощью навигационной панели либо раздел с задачами, либо с теорией, либо с тестами (скорее всего разделов будет больше). Если пользователь выбирает раздел с задачами, то для начала пользователь будет отправлять только ответ решенной задачи или же примера, но в идеале конечно хотелось бы чтобы приложение проверяло условие и предлагало более оптимальные способы решения.

 <br> С дизайном пока что не определился, но хотелось бы сделать что похожее на это:
    </p>
    <a href="https://www.symbolab.com/ ">https://www.symbolab.com/ </a> <br>
    <a href="https://leetcode.com/">https://leetcode.com/ </a> <br>
    <a href="https://www.sololearn.com/ ">https://www.sololearn.com/ </a> <br>
</body>
</html>